@font-face {
  font-family: "iconfont";
  /* Project id 3435551 */
  src: url('//at.alicdn.com/t/font_3435551_r34l38e193r.woff2?t=1654570617941') format('woff2'),
    url('//at.alicdn.com/t/font_3435551_r34l38e193r.woff?t=1654570617941') format('woff'),
    url('//at.alicdn.com/t/font_3435551_r34l38e193r.ttf?t=1654570617941') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e6db";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-position:before {
  content: "\e60b";
}

.icon-tongzhi:before {
  content: "\e60a";
}

.icon-gouwuche:before {
  content: "\e63f";
}

.icon-shouye:before {
  content: "\e64f";
}

.icon-wode:before {
  content: "\e8a0";
}

.icon-dingdan:before {
  content: "\e645";
}