$content-fontcolor: #333333;
$medium-fontColor: #666;
$light-fontColor: #999;
$content-bgColor: #f1f1f1;
$bgColor: #fff;
$content-notice-fontcolor: #777;
$search-bgColor: #f5f5f5;
$search-iconColor: #b6b6b6;
$search-fontColor: #b7b7b7;
$highlight-fontColor: #e93b3b;
$highlight-bgColor: #0091ff;